<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814230677944-06uqslj3r0viv1ignpuffbkk7pesi5dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814230677944-06uqslj3r0viv1ignpuffbkk7pesi5dn</string>
	<key>API_KEY</key>
	<string>AIzaSyBT7zkBZHvUi3gewVdceZAKVR9g7DJULTM</string>
	<key>GCM_SENDER_ID</key>
	<string>814230677944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CG.eptem.citizen</string>
	<key>PROJECT_ID</key>
	<string>citizen-3a8a6</string>
	<key>STORAGE_BUCKET</key>
	<string>citizen-3a8a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814230677944:ios:029372046d57aa2a</string>
	<key>DATABASE_URL</key>
	<string>https://citizen-3a8a6.firebaseio.com</string>
</dict>
</plist>